body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.game-container {
    height: 100vh;
}

.game-controls-container {
    height: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.game-control {
    margin: 10px;
    padding: 5px 30px;
    text-transform: uppercase;
}

.grid {
    display: grid;
    height: 90%;
}

.row {
    display: flex;
}

.cell {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    border: 1px solid #dadada;
}

.cell--dead {
    background: slategrey;
}

.cell--alive {
    background: skyblue;
}
